@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Playfair Display", system-ui !important;
  list-style: none;
}
/* =================================================loader===================================== */
.cs-loader-inner {
  transform: translateY(-50%);
  display: flex;
  gap: 2px;
  top: 50%;
  /* position: absolute; */
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}
.cs-loader-inner label {
  font-size: 24px;
  opacity: 0;
  display: inline-block;
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 2s infinite ease-in-out;
  animation: lol 2s infinite ease-in-out;
}
.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 2s 100ms infinite ease-in-out;
  animation: lol 2s 100ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 2s 200ms infinite ease-in-out;
  animation: lol 2s 200ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 2s 300ms infinite ease-in-out;
  animation: lol 2s 300ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 2s 400ms infinite ease-in-out;
  animation: lol 2s 400ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 2s 500ms infinite ease-in-out;
  animation: lol 2s 500ms infinite ease-in-out;
}
/* ===============================================scrollbar====================================== */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(29, 121, 187);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(29, 121, 187);
  border-radius: 10px;
}
/* ===============================================Root=========================================== */
:root {
  --fs-6sm: 16px;
  --fs-8sm: 18px;
  --fs-md: 20px;
  --fs-4md: 24px;
  --fs-6md: 26px;
  --fs-2lg: 32px;
  --fs-2xl: 42px;
  --fs-4xl: 44px;
  --fs-8xl: 48px;
  --fs-xxl: 64px;
}
.fs_6sm {
  font-size: var(--fs-6sm);
}
.fs_8sm {
  font-size: var(--fs-8sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_4md {
  font-size: var(--fs-4md);
}
.fs_6md {
  font-size: var(--fs-6md);
}
.fs_2lg {
  font-size: var(--fs-2lg);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_8xl {
  font-size: var(--fs-8xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
/* ===========================================Common-classes================================== */
.transition {
  transition: all 0.3s linear !important;
}
.ff_roboto {
  font-family: "Roboto", sans-serif !important;
}
.bg_sky {
  background: rgb(29, 121, 187);
}
.text_sky {
  color: rgb(29, 121, 187);
}
.max_w_80 {
  max-width: 150px;
  max-height: 80px;
}
.cursor_pointer {
  cursor: pointer;
}
.z_4 {
  z-index: 4;
}
.common_btn {
  background-color: rgb(29, 121, 187);
  border: 2px solid transparent;
}
.common_btn:hover {
  box-shadow: 1px 3px 6px rgb(29, 121, 187);
}
.learn_btn {
  color: rgb(29, 121, 187);
  border: 2px solid white;
}
.learn_btn:hover {
  box-shadow: 1px 3px 6px white;
}
.bg_gray {
  background: rgb(245, 245, 245);
}
.letter_spacing {
  letter-spacing: 0.03em;
}
/* ===========================================NavBar-Section=================================== */
.nav_link:hover {
  color: rgb(29, 121, 187) !important;
}
.under_line::after {
  position: absolute;
  content: "";
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  border-radius: 3px;
  background-color: rgb(29, 121, 187);
  transition: all 0.3s linear;
}
.under_line::after {
  height: 2px;
}
.under_line:hover::after {
  width: 100%;
}
.crl_1,
.crl_2,
.crl_3 {
  background-color: rgb(29, 121, 187);
}
/* ===========================================Hero-Section=================================== */
.herobg1,
.herobg2,
.herobg3,
.herobg4 {
  background-image: url(./components/assets/images//video/Hero1Gff.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 85vh;
}
.herobg2 {
  background-image: url(./components/assets/images//video/Hero2Gff.gif);
}
.herobg3 {
  background-image: url(./components/assets/images//video/Hero3Gff.gif);
}
.herobg4 {
  background-image: url(./components/assets/images//video/Hero4Gff.gif);
}
.hero_section_layer {
  background: linear-gradient(
      90.18deg,
      rgb(29, 121, 187) 0.13%,
      rgb(29, 121, 187) 24.19%,
      rgb(29, 121, 187) 44.58%,
      rgba(29, 121, 187, 0.97) 50.76%,
      rgba(29, 121, 187, 0) 99.82%
    )
    0% 0% / cover;
}
.slick-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 4px !important;
  bottom: 15px !important;
}
.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  background-color: rgb(188, 221, 245) !important;
  border-radius: 22px !important;
}
.slick-dots li.slick-active {
  width: 28px !important;
  height: 8px !important;
}
.slick-dots li.slick-active button:before {
  width: 28px !important;
  background-color: white !important;
  border-radius: 22px !important;
  opacity: 0.75 !important;
}
.slick-dots li button:before {
  content: "" !important;
  width: 8px !important;
  height: 8px !important;
}
.slick-slide.slick-active.slick-current div div.hover_active {
  border: 1px solid rgb(29, 121, 187) !important;
  border-bottom-width: 5px !important;
  transform: all 300ms linear !important;
  outline: none !important;
}
.slick-slide div div.hover_active {
  border-radius: 18px !important;
  border: 1px solid rgb(164, 196, 219) !important;
  outline: none !important;
}
/* =======================================We-are-the-best===================================== */
.distributor_card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
}
.distributor_card:hover {
  transform: scale(0.95);
}
.distributor_bg {
  background-image: url(./components/assets/images/svg/distributrebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* =======================================ourPresence===================================== */
.bg_ourpresence {
  background-image: url(./components/assets/images/svg/ourpressencebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.max_w_800 {
  max-width: 800px;
}
/* =======================================Footer============================================ */
.bg_footer {
  background-image: url(./components/assets/images/svg/footer_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(224, 236, 252);
}
.social_icon:hover {
  transform: translateY(-5px);
}
.contact_icon:hover > img {
  transform: scale(1.1);
}
/* ===============================================media-quaries=============================== */
@media (max-width: 1366px) {
}
@media (max-width: 1200px) {
  .nav_bar {
    position: fixed;
    z-index: 4 !important;
    background: white;
    min-height: 100vh;
    top: 0 !important;
    width: 100%;
  }
  .nav_bar > li > a:nth-last-child() {
    font-size: 22px !important;
  }
  .left_neg_100 {
    left: -100%;
  }
  .cross .crl_1 {
    transform: rotate(50deg) translate(14px, 16px);
  }
  .cross .crl_2 {
    opacity: 0;
  }
  .cross .crl_3 {
    transform: rotate(-50deg) translateY(-97%);
  }
  .navline span {
    width: 40px;
    height: 4px;
  }
}
@media (max-width: 1024px) {
  .herobg1,
  .herobg2,
  .herobg3,
  .herobg4 {
    height: 760px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-xxl: 60px;
  }
  .herobg1,
  .herobg2,
  .herobg3,
  .herobg4 {
    background-position: left;
    background-size: cover;
  }
}
@media (max-width: 820px) {
}
@media (max-width: 768px) {
  :root {
    --fs-2xl: 38px;
    --fs-4xl: 42px;
    --fs-8xl: 44px;
    --fs-xxl: 56px;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-2xl: 36px;
    --fs-4xl: 40px;
    --fs-8xl: 42px;
    --fs-xxl: 50px;
  }
}
@media (max-width: 425px) {
  :root {
    --fs-6sm: 14px;
    --fs-8sm: 16px;
    --fs-md: 18px;
    --fs-4md: 20px;
    --fs-2lg: 22px;
    --fs-2xl: 26px;
    --fs-4xl: 30px;
    --fs-8xl: 36px;
    --fs-xxl: 38px;
  }
  .herobg1,
  .herobg2,
  .herobg3,
  .herobg4 {
    height: 600px;
  }
}
